{% include "partials/header.html" %}

<body>

  <div class="container">
    <div class="video-container">
      <!-- Video Player Section -->
      <section id="video-player">
        <h1 class="video-title">{{ Title }}</h1>
        <div class="video-wrapper">
          <video class="video-player" controls>
            <source src="{{ Src }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </section>

      <!-- Video Playlist Section -->
      <section id="video-playlist">
        <h2 class="playlist-title">Video Playlist</h2>
        <ul class="playlist">
          {% for v in Videos %}
          <li><a href="/video/{{ forloop.Counter0 }}">{{v}}</a></li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </div>

  {% include "partials/footer.html" %}

</body>

</html>