{% include "partials/header.html" %}

<body>

  <div class="container">
    <!-- Video Player Section -->
    <section id="video-player">
      <h1 class="video-title">{{ Title }}</h1>
      <div class="video-wrapper">
        <video id="video-player" controls>
          <source src="{{ Src }}" type="video/mp4">
          您的浏览器不支持 video 标签。
        </video>
      </div>
    </section>

    <!-- Video Playlist Section -->
    <section id="video-playlist">
      <h2 class="playlist-title">视频列表</h2>
      <ul class="playlist">
        {% for v in Videos %}
        <li><a href="/video/{{ forloop.Counter0 }}">{{v}}</a></li>
        {% endfor %}
      </ul>
    </section>
  </div>

  {% include "partials/footer.html" %}

</body>

</html>