{% include "partials/header.html" %}

<body>

  <div class="container">
    <div class="video-container">
      <!-- Video Player Section -->
      <section id="video-player">
        <h1 class="video-title">{{ Title }}</h1>
        <div class="video-wrapper">
          <video class="video-player" controls>
            <source src="{{ videoSrc }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </section>

      <!-- Previous and Next Buttons -->
      <div class="navigation-buttons">
        <div class="center-buttons">
          {% if previous_video_url %}
          <a href="{{ previous_video_url }}" class="previous-button">Previous</a>
          {% else %}
          <span class="disabled-button">Previous</span>
          {% endif %}

          <span class="separator">|</span>
          
          <!-- Input Field for Video ID -->
          <div class="center-buttons">
            <input type="text" id="video-id-input" placeholder="" onclick="selectAllText()" value="{{ current_video_id }}">
            <!-- <button onclick="jumpToVideo()">Jump</button> -->
          </div>

          <span class="separator">|</span>

          {% if next_video_url %}
          <a href="{{ next_video_url }}" class="next-button">Next</a>
          {% else %}
          <span class="disabled-button">Next</span>
          {% endif %}
        </div>
      </div>

      <!-- Video Playlist Section -->
      <section id="video-playlist">
        <h2 class="playlist-title">Video Playlist</h2>
        <ul class="playlist">
          {% for v in Videos %}
          <li><a href="/video/{{ forloop.Counter0 }}">{{v}}</a></li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </div>

  {% include "partials/footer.html" %}

</body>

</html>